- @active = :characteristics

#edit_characteristics

:javascript
  $().ready(function() {
    window.Characteristics.refresh = function() {
      $.ajax({ url: "#{characteristic_url(@character, params.merge(format: 'js'))}" });
    };
    Characteristics.refresh();
  });

