- @active = :base_obligation

%h1= @character.name

%h2 Obligations

%p Your character must take on a certain amount of Obligation to start with.

%p
  The amount you start with will vary depending on how many characters will be in your party. See
  %strong Table 2-2
  on page 40 and adjust you starting Amount accordingly.

.form-horizontal
  = form_for @character do |f|
    .control-group
      %label.control-label{for: "character_party_size"} Party Size
      .controls
        = f.select :party_size, {"2" => 2, "3" => 3, "4" => 4, "5" => 5, "6+" => 6}

    .form-actions
      = f.submit "Save and Continue", class: "btn btn-success"
