- @active = :obligation

#edit_obligations.row

:javascript
  $().ready(function() {
    window.Obligation.refresh = function() {
      $.ajax({ url: "#{obligations_obligation_url(@character, params.merge(format: 'js'))}" });
    };
    Obligation.refresh();
  });
