- @active = :species

#edit_species

:javascript
  $().ready(function() {
    window.Species.refresh = function() {
      $.ajax({ url: "#{species_url(@character, params.merge(format: 'js'))}" });
    };
    Species.refresh();
  });
