.row
  = semantic_form_for(@character, url: career_url, remote: true) do |f|
    %table.table.span10
      %thead
        %th Skill
        %th Career

      %tbody
        - @character.skills.each do |skill|
          %tr
            %td= skill.name
            %td= career?(skill, @character)


