%table.table-condensed.characteristics
  %tr.values
    %td
      .value 2
    %td
      .value 2
    %td
      .value 2
    %td
      .value 2
    %td
      .value 2
    %td
      .value 2
  %tr.names
    %td Brawn
    %td Agility
    %td Intellect
    %td Cunning
    %td Willpower
    %td Presence
