/*
= require_tree .
= require_self
*/

body {
  padding-top: 80px;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  font-size: 0.8em;
  margin: 0px 0 0 -25%;
  width: 600px;

  z-index: 10000;
}

#character_details {
  border: 1px solid #ccc;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 5px;

  .dl-horizontal dt {
    width: 80px;
  }
  .dl-horizontal dd {
    margin-left: 100px;
  }
}
.characteristics_details {
  td {
    text-align: center;
  }
}

table.edit-characteristics {
  td, th {
    text-align: center;
  }
  td.buy {
    width: 55px;
  }
}

td.characteristic {
  background-image: url("/assets/characteristic_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 52px;
  width: 50px;

  display: inline-block;

  .value {
    margin: auto;

    height: 38px;
    width: 35px;

    text-align: center;
    vertical-align: middle;

    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
  }

  .name {
    color: white;
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
  }
}

.characteristics {
  td {
    display: inline-block;
    margin-right: 10px;
  }
  .values {
    td, .outside {
      background-image: url("/assets/characteristic_background.png");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 52px;
      width: 50px;

      .value {
        margin: auto;

        height: 38px;
        width: 35px;

        text-align: center;
        vertical-align: middle;

        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
      }

      .name {
        color: white;
        font-size: 0.5em;
        text-transform: uppercase;
      }
    }
  }
}

label.disabled {
  color: #ccc;
  cursor: not-allowed;
}

table#xp {
  width: 97%;
}
