/*
= require_tree .
= require_self
*/

body {
  padding-top: 80px;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  font-size: 0.8em;
  margin: 0px 0 0 -25%;
  width: 600px;

  z-index: 10000;
}

#character_details {
  border: 1px solid #ccc;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 5px;

  .dl-horizontal dt {
    width: 80px;
  }
  .dl-horizontal dd {
    margin-left: 100px;
  }
}
.characteristics_details {
  td {
    text-align: center;
  }

  .characteristics {
    td {
      border: 10px solid white;
      border-bottom: none;
      border-top: none;
    }
    tr.values {
      td {
        background-color: green;

        height: 40px;
        width: 50px;

        .value {
          background-color: white;
          border-radius: 50%;
          border: double 4px black;

          margin: auto;

          height: 35px;
          width: 35px;

          text-align: center;
          vertical-align: middle;

          font-size: 20px;
          font-weight: bold;
          line-height: 35px;
        }
      }
    }
    tr.names {
      background-color: maroon;
      color: white;
      font-size: 9px;
      text-transform: uppercase;

      td {
        border-radius: 10%;
      }
    }
  }
}

label.disabled {
  color: #ccc;
  cursor: not-allowed;
}

table#xp {
  width: 97%;
}
