// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills table .skill_name {
  width: 300px;
}
.module {
  border: 2px solid grey;
  display: inline-block;
  width: 340px;
}
.module:hover {
  background-color: #d9edf7;
  border: 2px solid red;
  cursor: pointer;
}
.module.selected {
  background-color: #fcf8e3;
  border: 2px solid red;
}
.module ul.attributes {
  margin-left: -5px;
}
.module .image {
  background-color: green;
  float: left;
  margin-right: 2em;
  height: 300px;
  width: 200px;
}
