// Place all the styles related to the characteristics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#edit_characteristics {
  .buy {
    width: 100px;

    .minus, .current-value, .plus {
      display: inline-block;
    }
    .current-value {
      border: 1px solid maroon;

      font-weight: bold;
      font-size: 25px;

      padding-top: 5px;

      height: 30px;
      width: 30px;
    }
    .minus, .plus {
      background-color: #333;
      color: white;
      cursor: pointer;

      width: 20px;
      height: 20px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    a.minus:hover, a.plus:hover {
      text-decoration: none;
    }
  }
}
