// Place all the styles related to the descriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portrait_upload {
  width: 100%;
}

.portrait {
  border: 1px solid green;
  height: 218px;
  overflow: hidden;
  width: 231px;

  margin: 1em 0;
}
