// Place all the styles related to the Obligations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.obligations {
  .label {
    display: none;
  }
  li {
    list-style-type: none;
  }
}

.obligation_details {
  height: 100px;
}
