// Place all the styles related to the species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.species_module {
  border: 2px solid grey;
  display: inline-block;

  height: 200px;
  width: 200px;
}
.species_module:hover {
  border: 2px solid red;
}
.species_module.selected {
  border: 2px solid red;
}
