// Place all the styles related to the specializations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.talents {
  .connector-up, .connector-down, .connector-left, .connector-right {
    background-color: black;
    height: 15px;
    width: 15px;
  }
  .talent {
    border: 1px solid black;
    width: 230px;
    height: 100px;

    padding: 5px;

    label.name {
      background-color: maroon;
      color: white;
      font-size: 1em;
      font-weight: bold;

      padding: 2px;

      input {
        margin-left: 3px;
        margin-right: 5px;
      }
    }

    p {
      font-size: 0.8em;
    }
    .cost {
      background-color: maroon;
      color: white;
      font-size: 0.75em;
      padding: 5px;
      text-align: right;
    }

  }
  .disabled {
    border: 1px solid #ccc;
    .cost,
    label.name {
      background-color: #ccc;
    }
    .cost {
      border: none;
    }
  }
}
