// Place all the styles related to the species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.species_module {
  border: 2px solid grey;
  display: inline-block;
  width: 340px;
}
.species_module:hover {
  background-color: #d9edf7;
  border: 2px solid red;
  cursor: pointer;
}
.species_module.selected {
  background-color: #fcf8e3;
  border: 2px solid red;
}
.species_module ul.attributes {
  margin-left: -5px;
}
.species_module .image {
  background-color: green;
  float: left;
  margin-right: 2em;
  height: 300px;
  width: 200px;
}
