- content_for :content do
  .row
    .span2
      %ul.nav.nav-tabs.nav-stacked
        %li{class: "#{'active' if @active == :description}"}= link_to("Description", new_description_url(@character))

    .span8
      = yield

= render template: "layouts/application"
